<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.BookmarkMapper">

    <insert id="insertBookmark" parameterType="map.vo.ParkBookmarkVO">
        INSERT INTO park_bookmark (mem_id, park_id)
        VALUES (#{memId}, #{parkId})
    </insert>

    <delete id="deleteBookmark" parameterType="map.vo.ParkBookmarkVO">
        DELETE FROM park_bookmark 
        WHERE mem_id = #{memId} AND park_id = #{parkId}
    </delete>

    <select id="checkBookmarkStatus" parameterType="map.vo.ParkBookmarkVO" resultType="int">
        SELECT COUNT(*) 
        FROM park_bookmark
        WHERE mem_id = #{memId} AND park_id = #{parkId}
    </select>

 <select id="selectMyBookmarkList" parameterType="int" resultType="map.vo.DogParkVO">
        SELECT 
            d.id,
            d.sd_nm AS sdNm,
            d.sgg_nm AS sggNm,
            d.park_nm AS parkNm,
            d.oper_tm AS operTm,
            d.hldy,
            d.fcs,
            d.fcar,
            d.oper_inst AS operInst,
            d.telno,
            d.addr,
            d.use_amt AS useAmt,
            d.view_count AS viewCount,
            d.park_img AS parkImg,
            ST_AsText(d.geom) AS geomWkt
        FROM park_bookmark b
        JOIN dog_park d ON b.park_id = d.id
        WHERE b.mem_id = #{memId}
        ORDER BY b.created_at DESC
    </select>

</mapper>