<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DogParkMapper">

    <resultMap id="dogParkResultMap" type="DogParkVO">
        <id     column="id"       property="id"/>
        <result column="sd_nm"    property="sdNm"/>
        <result column="sgg_nm"   property="sggNm"/>
        <result column="park_nm"  property="parkNm"/>
        <result column="oper_tm"  property="operTm"/>
        <result column="hldy"     property="hldy"/>
        <result column="fcs"      property="fcs"/>
        <result column="fcar"     property="fcar"/>
        <result column="oper_inst" property="operInst"/>
        <result column="telno"    property="telno"/>
        <result column="addr"     property="addr"/>
        <result column="use_amt"  property="useAmt"/>
        <result column="geom_wkt" property="geomWkt"/>
        <result column="view_count" property="viewCount"/>
        <result column="park_img" property="parkImg"/>
        
    </resultMap>

    <select id="selectDogParkList" resultMap="dogParkResultMap">
        SELECT
            id,
            sd_nm,	
            sgg_nm,
            park_nm,
            oper_tm,
            hldy,
            fcs,
            fcar,
            oper_inst,
            telno,
            addr,
            use_amt,
            view_count,
            park_img,
            ST_AsText(geom) AS geom_wkt
        FROM dog_park
        ORDER BY id
    </select>

    <select id="searchDogParkList" parameterType="DogParkVO" resultMap="dogParkResultMap">
    SELECT
        id,
        sd_nm,
        sgg_nm,
        park_nm,
        oper_tm,
        hldy,
        fcs,
        fcar,
        oper_inst,
        telno,
        addr,
        use_amt,
        ST_AsText(geom) AS geom_wkt
    FROM dog_park
  	WHERE 1=1

        <if test="parkNm != null and parkNm != ''">
            AND park_nm LIKE CONCAT('%', #{parkNm}, '%')
        </if>

        <if test="sdNm != null and sdNm != ''">
            AND sd_nm = #{sdNm}
        </if>

        <if test="sggNm != null and sggNm != ''">
            AND sgg_nm = #{sggNm}
        </if>

        <if test="operTm != null and operTm != ''">
            AND oper_tm LIKE CONCAT('%', #{operTm}, '%')
        </if>

        <if test="useAmt != null and useAmt != ''">
            AND use_amt LIKE CONCAT('%', #{useAmt}, '%')
        </if>

        <if test="fcs != null and fcs != ''">
            AND fcs LIKE CONCAT('%', #{fcs}, '%')
        </if>

    
    ORDER BY id ASC
</select>
<update id="updateViewCount" parameterType="int">
    UPDATE dog_park
    SET view_count = COALESCE(view_count, 0) + 1
    WHERE id = #{id}
</update>
<select id="selectDogParkById" parameterType="int" resultMap="dogParkResultMap">
    SELECT 
        id,
        sd_nm,      sgg_nm,
        park_nm,
        oper_tm,
        hldy,
        fcs,
        fcar,
        oper_inst,
        telno,
        addr,
        use_amt,
        view_count,
        park_img,
        ST_AsText(geom) AS geom_wkt
    FROM dog_park
    WHERE id = #{id}
</select>
   
</mapper>